.Section2{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
}

.Section2Card{
    border: solid black 3px;
    width: 250px;
    height: 310px;
    margin-left: 100px;
    position: relative;
}

.Section2Card-image{
   width: 250px;
   height: 310px;
}

.Section2Card-city-name{
    position: absolute;
    top: 210px;
    left: 15px;
    color: white;
    cursor: pointer;
}

.Section2Card-city-details{
    position: absolute;
    top: 260px;
    left: 15px;
    color: white;
    cursor: pointer;
}  
