.Section1-container{
  width: 80%;
  height: 500px;
  text-align: center;
  background-color: #A5D7E8;
  margin: auto;
}

.Section1-heading{
  font-size: 45px;
  font-style: italic;
}

.Section1-items{
  text-align: center;
}

.Section1-search-boxes{
  width: 60%;
  height: 90px;
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
}

.Section1-search-boxes input{
  margin: auto;
  height: 40px
}

.Section1-search-boxes button{
  height: 45px
}
