
.nav-bar{
  background-color: grey;
  height: 40px;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.NavBarCard{
  display: flex;
  margin: 0 35px 0 20px;
}

.NavBarCard-image{
  width: 27px;
  height: 27px;
}

.NavBarCard-name{
  font-style: italic;
  font-size: 18px;
  color: black;
}
